*{
    margin: 0;
    padding: 0;
}
.b{
    border: 2px solid red;
}

.container{
    display: flex;
}

.left{
    width: 24vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
   
}
.left-top{
    background-color: #121212;
    color: white;
    padding: 20px 0px 20px 20px;
    border-radius: 9px;
    box-sizing: border-box;
    margin-top: 8px;
    width: 95%;
}
.left-top ul li{
    list-style: none;
    margin-bottom: 20px;
}
.left-top ul li:last-child{
    margin-bottom: 0px;
    color: #dddddd;
}
.left ul li img{
    
    filter: invert(1);
}
.left-top ul li{
    font-size: 17px;
}
.left ul li i{
    margin-right: 15px;
    filter: invert(0);
    font-size: 24px;
}

.left-bottom{
    background-color: #121212;
    color: white;
    padding: 20px 1% 20px 20px;
    border-radius: 9px;
    box-sizing: border-box;
    margin-top: 8px;
    width: 95%;
    height: 200px;
}

.your-library{
    width: 95%;
    color: #a4a4a4;
}
.your-library img{
    height: 25px;
   filter: invert(1);

}
.your-library span{
    font-size: 18px;
    margin-left: 10px;
}
#addLogo{
    height: 17px;
    color:#a4a4a4; 
    float: right;
}

/* .left-footer{
 
} */
.left-footer a{
    text-decoration: none;
    font-size: 11px;
    color: #a0a0a0;
}
.left-footer-r1{
    margin-top: 25px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.left-footer-r2{
    margin-top: 15px;
    width: 80%;   
}
.left-footer-r2 a span{
    margin-right: 20px;   
}

/* css for right section  start */

.right{
    background-color: #101010;
    width: 76vw;
    display: flex;
    flex-direction: column;
    align-items: center
}
.nav{
    width: 98%;
    height: 50px;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#less{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav img{
    height: 16px;
    filter: invert(1);
}
.nav-logo{
    display: flex;
}
.nav-button{
    height: 100%;
    display: flex;
    align-items: center;
}
#grater{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

#sign-up{
    font-size: 16px;
    color: #a6a6a6;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: 700;
    border: none;
    margin-right: 25px;
}
#log-in{
    padding: 0px 32px;
    height: 90%;
    font-size: 16px;
    border-radius: 24px;
    color: black;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-weight: 700;
    border: none;
    margin-right: 25px;
}
#sign-up:hover{
    color: #FFFFFF;
    font-size: 17px;
}
#log-in:hover{
    transform: scale(1.05);
}

/* hero-section */

.hero{
    background-color: #1e1e1e;
    width: 98%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-head >h1{
    color: white;
}
.play-list{
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid white;
}
.card{
    width: 166px;
    padding: 5px 15px 15px 15px;
    /* border: 2px solid white; */
    color: #dddddd;
    border-radius: 6px;
    background-color: #171717;
    position: relative;
    margin-bottom: 20px;
}
.card > *{
    padding-top: 10px;
}
.card img{
width: 100%;
object-fit: contain;
border-radius: 6px;
}
.card h3{
    color: #fcfcfc;
}
.card p{
    color: #a2a2a2;
}
.card .play-logo{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #1ed760;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 35%;
    right: 13%;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
.card:hover{
    background-color:#272727;
}
.card:hover .play-logo{
    visibility: visible;
    bottom: 40%;
}
.play-logo:hover{
    transform: scale(1.05);
}





/* css for right section  end */